<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
<h1>Contacts Page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ipsam laboriosam magnam necessitatibus provident quae reiciendis repellendus veritatis, voluptatum. Asperiores ea obcaecati officiis optio placeat praesentium repellendus similique soluta.</span><span>Alias aliquid amet, asperiores atque autem debitis deserunt esse eum facilis hic incidunt itaque laborum magnam perspiciatis recusandae repellat soluta voluptates. Aspernatur eum eveniet illo neque nisi perferendis, veritatis voluptate!</span><span>Cum deserunt dolor dolore eaque excepturi exercitationem illo neque nihil omnis quasi, qui quisquam recusandae ullam? Eius eum facere fuga id in, ipsa labore maxime odio porro quisquam reiciendis velit.</span></p>


</body>
</html>