<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ccs/style.css' %}">

    <style>
        img {
      width: 25%;
      height: auto;
    }
    </style>


</head>
<body>

<h1>Property Listings</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at cupiditate est facilis illo impedit laborum modi mollitia nam praesentium provident quos ratione reprehenderit, tempore temporibus vitae voluptas? Iste, quod.</span><span>Adipisci aliquam aperiam hic, illo in, iusto labore neque nobis officia praesentium quam, quibusdam reiciendis repellendus reprehenderit voluptate? Dignissimos optio repellendus saepe ut veritatis voluptas. Ad aliquid fugit obcaecati officia.</span></p>
<img src="{% static 'images/property3.png' %}" alt="">
<img src="{% static 'images/property4.png' %}" alt="">
<img src="{% static 'images/property5.png' %}" alt="">
<img src="{% static 'images/property6.png' %}" alt="">
<img src="{% static 'images/property1.png' %}" alt="">
<img src="{% static 'images/property7.png' %}" alt="">
<img src="{% static 'images/property8.png' %}" alt="">
<img src="{% static 'images/property9.png' %}" alt="">

</body>
</html>