<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}

    <style>
     h1{
         text-align: center;
         color: #1c1c1b;
         background-color: #3c5cdc;
         font-size: 60px;
         line-height: 80px;
         text-shadow: 4px 4px 8px lightgoldenrodyellow;
     }

    </style>


</head>
<body>
<h1>BrickFolio Web Application</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, praesentium veniam. Dolorum, minima provident. A accusamus, animi ex explicabo facilis harum ipsam iste molestiae quam rem sit soluta unde, velit?</span><span>Adipisci alias aliquid assumenda autem blanditiis consectetur dicta doloribus error, est eveniet expedita facere fugit hic illum ipsa iusto minus nemo neque nisi optio perspiciatis quis sed sit velit veniam.</span><span>Aliquam delectus dolor eos eum fuga fugit id vitae. Ab doloremque ea error ex expedita, in incidunt inventore labore laborum, natus nobis qui saepe! Distinctio dolores eos quia ut voluptate!</span></p>
<br>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur culpa ducimus exercitationem harum hic labore laborum magni nostrum perferendis perspiciatis porro quis quo quos, rem soluta tempore vel, vitae.</span><span>Asperiores consequatur dolore illum ipsa, itaque laborum necessitatibus possimus. Aliquam architecto dicta doloremque enim esse laudantium maiores, molestiae neque officiis praesentium provident quidem repellendus sequi sit tenetur vel veniam voluptate.</span></p>

<img src="{% static 'images/property3.png' %}" alt="">

</body>
</html>
